@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Create Ticket";
    var ProjectId = ViewBag.ProjectId;
    var ProjectTitle = ViewBag.ProjectTitle;
    string[] ProjectTypes = new[] {"Bug", "Feature Request", "Documentation"};
}

<div class="col-md-12 subnav">
    <h1>Create New Ticket for @ProjectTitle</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 content">


            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <input type="hidden" name="ProjectId" value="@ProjectId" />
                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Priority, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Type.Name", new SelectList(@ProjectTypes), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>

        </div>
    </div>
</div>