@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Details";
}

<div class="col-md-8 subnav">
    <h1>Ticket: @Model.Title</h1>
</div>
<div class="col-md-4 subnav">
    <div class="admin-btns">
@if (!Model.Status.ToString().Equals("Closed"))
{
    if (ViewContext.HttpContext.User.IsInRole("Project Manager"))
    {
        @Html.ActionLink("Assign User", "AssignUser", new { id = Model.Id }, new { @class = "action-btn" })
        @Html.ActionLink("Close", "Close", new { id = Model.Id }, new { @class = "action-btn" })
    }
    if (ViewBag.UserId == Model.AssigneeId || ViewBag.UserId == Model.OwnerId || ViewContext.HttpContext.User.IsInRole("Project Manager"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "action-btn" })
    }

    if (ViewContext.HttpContext.User.IsInRole("Developer") && ViewBag.UserId == Model.AssigneeId)
    {
        @Html.ActionLink("Resolve", "Resolve", new { id = Model.Id }, new { @class = "action-btn" })
    }
}

    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Project: @Html.ActionLink(Model.Project.Title, "Details", "Projects", new { id = Model.ProjectId }, null)</h3>
            <h3>Created by @Model.Owner.FullName on @Model.Created.ToString("MMMM dd, yyyy h:mm t")M</h3>
            @if (Model.Modified.HasValue)
            {
                <h4 class="text-danger">Updated on @Model.Modified.Value.ToString("MMMM dd, yyyy h:mm t")M</h4>
            }
            @if (Model.Assignee != null)
            {
            <h3>Assigned to @Model.Assignee.FullName</h3>
            }
            else
            {
                <h3>Assigned to: <span class="text-danger">Unassigned</span></h3>
            }
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Priority</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@Model.Type.Name</td>
                            <td>@Model.Priority</td>
                            <td>@Model.Status</td>
                        </tr>
                    </tbody>
                </table>

                <p>@Model.Body</p>
            </div>
    
        </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3>Comments</h3>
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("New Comment", "AddComment", new { id = Model.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
            <h4>Posted by User on 5/3/16 4:30pm</h4>
            <p>Lorem ipsum dolor sit amet, augue id adipiscing elit dis consectetuer est. Vitae viverra diam, amet arcu platea magna donec suspendisse, nulla aptent tellus eu nulla. Phasellus arcu libero interdum, vel tortor id egestas lorem nulla mauris, mauris tortor laborum elit amet aliquet, nulla ridiculus platea odio in eget justo, rutrum id et vel interdum quis interdum</p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <h3>Attachments</h3>
                </div>
                <div class="col-md-6">
                    @Html.ActionLink("New Attachment", "AddAttachment", new { id = Model.Id }, new { @class = "btn btn-default" })
                </div>
            </div>
            <p><img src="http://placehold.it/350x150"></p>
            <p>Lorem ipsum dolor sit amet, arcu amet felis. Vulputate dolor odio vulputate erat lacus, magna facilisis nibh.</p>
                    
        </div>
    </div>

    <p class="content">@Html.ActionLink("Back to Tickets", "Index")</p>
       </div>
    </div>
