@model BugTracker.Models.Ticket

@{
    ViewBag.Title = "Edit Ticket";
    var ProjectTitle = ViewBag.ProjectTitle;
    var TicketType = ViewBag.TicketType;
    string[] ProjectTypes = new[] { "Bug", "Feature Request", "Documentation" };
}

<div class="col-md-12 subnav">
    <h1>Edit Ticket for @ProjectTitle</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 content">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    @Html.HiddenFor(model => model.ProjectId)
                    @Html.HiddenFor(model => model.OwnerId)
                    @Html.HiddenFor(model => model.Status)
                    @Html.HiddenFor(model => model.AssigneeId)
                    @Html.HiddenFor(model => model.Created)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Body, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Body, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Body, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EnumDropDownListFor(model => model.Priority, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownList("Type.Name", new SelectList(@ProjectTypes, null, null, TicketType), htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Type.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Save" class="btn btn-default" />
                        </div>
                    </div>
               </div>
            }

            <div>
                @Html.ActionLink("Back to Tickets", "Index")
            </div>

</div>
</div>
</div>