@model BugTracker.Models.Project

@{
    ViewBag.Title = "Details";
}

<div class="col-md-6 subnav">
    <h1>Project - @Model.Title</h1>
</div>
<div class="col-md-6 subnav">
    <div class="admin-btns">
        @Html.ActionLink("Assign Users", "AssignUsers", new { id = Model.Id }, new { @class = "action-btn" })
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, new { @class = "action-btn" })
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Deadline: @Model.Deadline.ToString("MMMM dd, yyyy h:mm t")M</h3>
            <p>@Model.Description</p>
        </div>

    </div>
    <div class="row content">
        <div class="col-md-3">
            <h3>Tickets</h3>
        </div>
        <div class="col-md-3">
            @if (ViewContext.HttpContext.User.IsInRole("Submitter"))
            {
                @Html.ActionLink("New Ticket", "Create", "Tickets", new { id = Model.Id }, new { @class = "btn btn-default" })
            }
        </div>
    <div class="row">
        <div class="col-md-12 content">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Created
                        </th>
                        <th>
                           Type
                        </th>
                        <th>
                            Priority
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Owner
                        </th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            Ticket title
                        </td>
                        <td>
                            4/25/16
                        </td>
                        <td>
                            Bug
                        </td>
                        <td>
                            High
                        </td>
                        <td>
                            Pending
                        </td>
                        <td>
                            Sally Susans
                        </td>
                    </tr>

                </tbody>

            </table>




        </div>
    </div>
    </div>
</div>
